@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300');

/* Letters from Underground */

.single-jetpack-portfolio.postid-1083 .site-main,
.single-letter .site-main {
	color: rgba(255,255,255,0.9);
	background: #841381;
	font-family: 'Overpass Mono', monospace;
	background: linear-gradient(1deg, #482466, #3a343f, #042430);
	background-size: 600% 600%;
	-webkit-animation: letters 200s ease infinite;
	-moz-animation: letters 200s ease infinite;
	animation: letters 57s ease infinite;
	padding-top: 2em;
	text-align: center;
}

.single-letter .entry-content p{
	font-size: .9rem;
	line-height: 1.3;
}

/* Fix link Colors */
.twentyseventeen-panel.post-2200 .entry-content a,
.single-letter .entry-content a,
.widget a {
	color: inherit;
	box-shadow: none;
	text-decoration: underline;
}

.twentyseventeen-panel.post-2200.page .entry-title {
	color: rgba(255,255,255,0.9);
	text-transform: none;
}

.single-jetpack-portfolio.postid-1083 .site-footer,
.single-letter .site-footer {
	border-top: none;
}

.single-jetpack-portfolio.postid-1083 .entry-footer,
.single-jetpack-portfolio.postid-1083 .post-navigation,
.single-letter .entry-footer,
.single-letter .post-navigation {
	display: none;
}

/* Style the output of the display posts shortcode: https://wordpress.org/plugins/display-posts-shortcode/ */
.single-jetpack-portfolio.postid-1083  .display-posts-listing {
	font-family: 'Overpass Mono', monospace;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

.single-jetpack-portfolio.postid-1083  .listing-item a {
	transition: all .375s ease-out;
}

.single-jetpack-portfolio.postid-1083 .listing-item a:link {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    color: white;
    display: inline-block;
    line-height: 1.2;
    font-weight: 300;
    max-width: 12em;
    margin:.25em;
    padding: 1rem;
}

.single-jetpack-portfolio.postid-1083 .listing-item a:hover,
.single-jetpack-portfolio.postid-1083 .listing-item a:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

.single-jetpack-portfolio.postid-1083 .listing-item a:visited {
		text-decoration: line-through !important;
    background-color: transparent;
    color: #ccc;
}

.single-jetpack-portfolio.postid-1083 .listing-item a:hover {
    text-decoration: none;
}

.single-letter article {
	max-width: 40em;
	padding: 0 1em;
	margin: 5em auto 2em;
}

.single-letter article p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	font-weight: 400;
	text-align: left;
}

.letters-home-link {
	box-shadow: none !important;
	display: inline-block;
	margin: 1em auto 2em;
}

@-webkit-keyframes letters {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes letters {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes letters {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
